

/*Main Grid*/
.appWrapper {
    display: grid;
    grid-template-columns: 1fr 160px 680px 160px 1fr;
    grid-gap: 0px;
    grid-auto-rows: minmax(130px, auto);
}



.leftgutter{
    grid-column: 1;
}
.leftMargin{
    grid-column: 2;
}

.rightMargin{
    grid-column: 4;
}
.rightgutter{
    grid-column: 5;
}

.content {
    grid-column: 3;
    grid-row: 2;
    border-radius: 10px;
    height: 550px;
    
}

.topLeftCell {
    grid-column: 2;
    grid-row: 1;
  }

.bottomLeftCell{
  grid-column: 2;
  grid-row: 3;
}


/*content grid Index*/
.indexWraper {
    height: 500px;
}


/* rhythm Page */
.rhythmPage {
    display: grid;
    grid-template-columns: 1fr 175px 175px 1fr;
    grid-template-rows: 1fr, 165px, 175px, 1fr;
    grid-gap: 5px;
    /* grid-auto-rows: minmax(90, auto); */
    
}

.wrapQuarterNote{
    grid-column: 2;
    grid-row: 2;
    cursor: pointer;
}

.wrapHalfNote{
    grid-column: 3;
    grid-row: 2;
    cursor: pointer;
}

.wrapDotQuarterNote{
    grid-column: 2;
    grid-row: 3;
    cursor: pointer;
}

.wrapDotHalfNote{
    grid-column: 3;
    grid-row: 3;
    cursor: pointer;
}

.wrapSimple{
    grid-column: 2;
    grid-row: 1;
    height: 100px;
}

.wrapCompound{
    grid-column: 2;
    grid-row: 4;
    cursor: pointer;
}

/* .rhythmImage {
    grid-column: 2;
    grid-row: 1;
    cursor: pointer;
}

.pitchImage {
    grid-column: 3;
    grid-row: 1;
    cursor: pointer;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=40);
} */


/*floating display*/

/* .floatingDisplay {

    display: grid;
    grid-template-columns:  120px 120px 120px 120px 120px;
    grid-template-rows: 50px 50px;
    grid-gap: 0px;

    width: 600px;
    height: 100px;
    transform: translate(150px, 200px);
    background-color: wheat;  
    opacity: 0.90;
    border-radius: 10px;
    text-align: center;
    border: solid black 2px;
    /*filter: alpha(opacity=40);*/

/* } */

/* .textInstrument {
    grid-column: 1 / 6;
    grid-row: 1;

} */

/* .prev{
    grid-column: 1;
    grid-row: 2;
    width: 100px;
    height: 25px;
    opacity: 0.90;
    text-align: center;
    text-decoration-color: lightskyblue;

} */

/* .skip{
    grid-column: 3;
    grid-row: 2;
    width: 100px;
    opacity: 0.90;
    text-align: center;
    float:center;
    text-decoration-color: orangered;
} */

/* .next{
    grid-column: 5;
    grid-row: 2;
    width: 100px;
    height: 30px;
    opacity: 0.90;
    text-align: center;
    text-decoration-color: green;
} */

/* #nextTag{
    text-align: center;
    text-decoration-color: green;
}  */


